body {
    font-family: Helvetica Neue, sans-serif;
    font-size: 16px;
    font-stretch: normal;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    margin: 0;
    padding: 0;
}


header {
    display: flex;
    max-height: 152px;
    position: sticky;
    top: 0;
    flex-direction: column;
    flex-wrap: nowrap;
}

.main-header {
    background: #fff;
    border-radius: 0 0 25px 25px;
    box-shadow: 0 2px 10px 0 rgba(0, 0, 0, .15);
    padding-top: 5px;
}

.container-main-header {

    margin-left: auto;
    margin-right: auto;
    max-width: 1440px;
    padding-left: 16px;
    padding-right: 16px;
    position: relative;
    width: 100%;

}

footer {
    margin-top: 40px;
    padding-bottom: 20px;
    background-color: #003750;;
    color: #fff;
}

section {
    margin-top: 47px;
    padding-left: 16px;
    padding-right: 16px;
}

article {
    margin: 20px;
    padding: 20px;
}

.h1-header {
    font-size: 30px;
    margin-left: 40px;
    color: darkred;

}

h2 {
    color: #555;
}

p {
    line-height: 1.5;
}

.section-border {
    border-bottom: 1px solid #fff;
    padding-bottom: 43px;
}

p.footer {
    margin-left: 1300px;
    padding-top: 20px;
    margin-bottom: 20px;
    position: relative;
}

#selektoren {
    color: black;
}

ul {
    color: black;
}

li {
    font-size: 25px;
}

.first {
    background-color: grey;
    width: 300px;
    height: 300px;
    padding: 50px;
    margin: 100px;
    border: 20px solid black;
    font-weight: bold;
}

img {
    outline: #FF5EA2 solid 7px;
    display: block;
    margin-left: 1px;
    margin-right: auto;
    width: 50%
}